################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/server/BestBuddiesApi/.vs/BestBuddiesApi/v15
/server/BestBuddiesApi/BuddyDb
/server/BestBuddiesApi/BuddyData
/chatbot/node_modules
/server/BestBuddiesApi/.vs
/server/BestBuddiesApi/BestBuddiesApi/bin
/server/BestBuddiesApi/BestBuddiesApi/obj
/server/BestBuddiesApi/BestBuddiesShare/obj
/server/BestBuddiesApi/BestBuddiesShare/bin
/server/BestBuddiesApi/BuddyServer/obj
/server/BestBuddiesApi/BuddyServer/bin
