################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/server/BestBuddiesApi/.vs/BestBuddiesApi/v15
