*{
  text-align:left;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #9396cb4d;
  color: #5a4099;
}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 100%;
}

.App-header {
  background-color: #9396cb4d;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.App-header h1{
  color: #fff;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.profile-detail{
  display: flex;
  justify-content: space-evenly;
}

h1,h2,h3,h4{
  color: #000;
}